<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Vue</title>
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/tooltip.css">
        <!-- <script src="js/vendors/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/v-tooltip"></script>
   
    </head>

    <body>

        <section id="app" class="wrapper">
            
            <header class="list-header-wrapper">
                <h2 class="list-header">Страница редактирования пользователей:</h2>
                <div class="list-header-data">
                    <button
                        type="button"
                        v-on:click="changeShowStatus"
                        v-tooltip="message"
                        class="header-btn">
                            {{ btnText }}
                    </button>
                </div>
            </header>
            
            <!-- Компонент -->
            <user-form
                      v-bind:user="user"
                      v-bind:show="show">
            </user-form>

        </section>

        <!-- Шаблон -->
        <script id="user-form">
            
            <form action="" method="POST">
                <div class="user-list">

                    <div class="user-list__head">
                        <div class="user-list__row">
                            <div class="user-list__cell">
                                Аватар
                            </div>
                            <div class="user-list__cell">
                                Имя
                            </div>
                            <div class="user-list__cell">
                                Фамилия
                            </div>
                            <div class="user-list__cell">
                                Отчество
                            </div>
                            <div class="user-list__cell">
                                x
                            </div>
                        </div>
                    </div>
                    
                    <transition name="fade"> <!-- Обертка для плавного появления/скрытия таблицы. -->
                        <div v-if="show" class="user-list__main">
                            <div class="user-list__row">
                                <div v-bind:class="user.img ? 'avatar' : 'no-avatar'" class="user-list__cell">
                                    <span v-if="!user.img">
                                        Нет аватара
                                    </span>
                                    <img v-else v-bind:src="user.img" height="60">
                                </div>
                                <div class="user-list__cell">
                                    <input
                                            type="text"
                                            v-bind:value="user.name | capitalize"
                                            v-bind:readonly="readonly"
                                            v-on:click="oneTwoClick">
                                </div>
                                <div class="user-list__cell">
                                        <input
                                            type="text"
                                            v-bind:value="user.surname | capitalize"
                                            v-bind:readonly="readonly"
                                            v-on:click="oneTwoClick">
                                </div>
                                <div class="user-list__cell">
                                        <input
                                            type="text"
                                            v-bind:value="user.lastname | capitalize"
                                            v-bind:readonly="readonly"
                                            v-on:click="oneTwoClick">
                                </div>
                                <div class="user-list__cell">
                                    <button type="button">
                                        x
                                    </button>
                                </div>
                            </div>
                        </div>
                    </transition>	

                </div>
            </form>

        </script>

        <script src="js/UserForm.js"></script>
        
    </body>
</html>